$grid-1:.08rem;
$grid-2:.12rem;
$grid-3:.16rem;
$grid-4:.20rem;
$grid-5:.24rem;

$page-padding:$grid-3;

$border-radius-1:.05rem;
$border-radius-2:.08rem;
$border-radius-3:.12rem;
$border-radius-4:.16rem;
$border-radius-5:.20rem;

$scrollbar-width:.08rem;

$global-button-height:.4rem;
$global-input-height:$global-button-height;