$grid-1:4px;
$grid-2:12px;
$grid-3:16px;
$grid-4:20px;
$grid-5:24px;

$page-padding:$grid-3;

$border-radius-1:5px;
$border-radius-2:8px;
$border-radius-3:12px;
$border-radius-4:16px;
$border-radius-5:20px;

$scrollbar-width:8px;
