// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "el"
);


@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  //$button-padding-horizontal: ("default": 50px),
  $colors: (
    "primary": (
      "base": #1a8cff,
    ),
    "success": (
      "base": #1DC2A6,
    ),
    "warning": (
      "base": #f1BE32,
    ),
    "danger": (
      "base": #FF7F71,
    ),
    "error": (
      "base": #ff0000,
    ),
    "info": (
      "base": #42b8dd,
    ),
  ),
  // $bg-color: (
  //   'page': #1E3148,
  //   '': #071D3B,
  //   'overlay': #162842,
  // ),
  // $text-color: (
  //   'primary':  #e5eaf3,
  //   'regular': #cfd3dc,
  //   'secondary': #a3a6ad,
  //   'placeholder': #8d9095,
  //   'disabled': #6c6e72,
  // ),
  // $border-color: (
  //   '': #4c4d4f,
  //   'light': #414243,
  //   'lighter': #363637,
  //   'darker': #636466,
  //   'dark': #58585b,
  // ),
  // $fill-color:(
  //   '':#1E3148,
  //   'blank':transparent,
  //   'light':#1B2C41,
  //   'lighter':#18273A,
  //  "darker": #909399,
  // ),
);

// if you want to import all
@use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";

:root {
  // --el-color-primary-opacity-3:rgba(26, 140, 255, 0.3);
  --el-bg-color-opacity-8: rgba(255, 255, 255, 1);
  --el-box-shadow-color: rgba(205, 205, 205, 0.3);

}