html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: var(--el-text-color-primary);
  overscroll-behavior: none;
}
.dark body{
  background-color: #121212;
}
#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.el-message .el-icon {
  width: 0.16rem;
  height: 0.16rem;
  line-height: 0.16rem;
}
.el-message {
  font-size: 16px; /* 修改为你想要的大小 */
}

/* 如果你想修改内容字体而不是整个容器 */
.el-message__content {
  font-size: 16px;
}